@using BugTracker.Models
@using BugTracker.Helpers
@model IEnumerable<ApplicationUser>
@{

    var roleHelper = new RolesHelper();
}
<h2>Manage Roles</h2>
<style>
    #UserIds {
        min-height: 200px;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            @Html.ListBox("UserIds")
            @Html.DropDownList("RoleName", "--no role--")
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-4">
            <button type="submit" class="btn btn-danger">Manage Role Assignment(s)</button>
        </div>
    </div>
    <div class="col-8 col-md-offset-2">
        <table class="table col-md-offset-2">
            <tr>
                <th style="color:white">
                    @Html.DisplayName("User Email")
                </th>
                <th style="color:white">
                    @Html.DisplayName("Role")
                </th>
            </tr>

            @foreach (var person in Model)
            {
                <tr>
                    <td style="color:snow">
                        @person.Email
                    </td>
                    <td style="color:snow">
                        @roleHelper.ListUserRoles(person.Id).FirstOrDefault()
                    </td>
                </tr>
            }

        </table>
    </div>
}





