@using Microsoft.AspNet.Identity;
@using BugTracker.Helpers;
@model IEnumerable<BugTracker.Models.Ticket>

@{
    ViewBag.Title = "Index";
    var ticketHelper = new TicketHelper();
}



    <div class="main-panel">

        <br />
        <br />
        <br />
        <br />

        <h2>All Tickets</h2>
        <br />
        <br />
        @if (User.IsInRole("Submitter"))
        {

            <button class="btn btn-primary">
                @Html.ActionLink("+Create New Ticket", "Create")
            </button>

        }
        <br />
        <br />


        <table id="table1" class="table table-bordered table-light col-md-8">
            <thead>
                <tr>
                    <th>
                        Project
                    </th>
                    <th>
                        Type
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Submitter
                    </th>
                    <th>
                        Developer
                    </th>
                    <th>
                        Issue
                    </th>

                    <th>
                        Created
                    </th>
                    <th>
                        Updated
                    </th>
                    <th>
                        Resolved
                    </th>
                    <th>
                       Archived
                    </th>
                    <th></th>
                </tr>

            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td style="background-color:dimgray">
                            @Html.DisplayFor(modelItem => item.Project.Name)
                        </td>
                        <td style="background-color:dimgray">
                            @Html.DisplayFor(modelItem => item.TicketType.Name)
                        </td>
                        <td style="background-color:dimgray">
                            @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                        </td>
                        <td style="background-color:dimgray">
                            @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                        </td>
                        <td style="background-color:dimgray">
                            @Html.DisplayFor(modelItem => item.Submitter.FullName)
                        </td>
                        @if (item.DeveloperId != null)
                        {
                            <td style="background-color:dimgray">
                                @Html.DisplayFor(modelItem => item.Developer.FullName)
                            </td>

                        }
                        else
                        {
                            <td style="background-color:dimgray">No Developer</td>
                        }
                        <td style="background-color:dimgray">
                            @Html.DisplayFor(modelItem => item.Issue)
                        </td>

                        <td style="background-color:dimgray">
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        <td style="background-color:dimgray">
                            @Html.DisplayFor(modelItem => item.Updated)
                        </td>
                        <td style="background-color:dimgray">
                            @Html.DisplayFor(modelItem => item.IsResolved)
                        </td>
                        <td style="background-color:dimgray">
                            @Html.DisplayFor(modelItem => item.IsArchived)
                        </td>

                        <td style="background-color:dimgray">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                            @Html.ActionLink("Details", "Dashboard", new { id = item.Id })

                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
@if (User.IsInRole("Developer") || User.IsInRole("Project Manager") || User.IsInRole("Submitter"))
{


<br />
<hr />
<h2>My Tickets</h2>
<br />
<br />

<table id="table2" class="table table-bordered table-light col-md-8">
    <thead>
        <tr>
            <th>
                Project
            </th>
            <th>
                Type
            </th>
            <th>
                Priority
            </th>
            <th>
                Status
            </th>
            <th>
                Issue
            </th>

            <th>
                Created
            </th>
            <th>
                Updated
            </th>
            <th>
               Resolved
            </th>
            <th>
                Archived
            </th>
            <th></th>


        </tr>

    </thead>
    <tbody>

        @foreach (var item in ticketHelper.GetMyTickets())
        {
            <tr>
                <td style="background-color:dimgray">
                    @item.Project.Name
                </td>
                <td style="background-color:dimgray">
                    @item.TicketType.Name
                </td>
                <td style="background-color:dimgray">
                    @item.TicketPriority.Name
                </td>
                <td style="background-color:dimgray">
                    @item.TicketStatus.Name
                </td>
                <td style="background-color:dimgray">
                    @item.Issue
                </td>

                <td style="background-color:dimgray">
                    @item.Created
                </td>
                <td style="background-color:dimgray">
                    @item.Updated
                </td>
                <td style="background-color:dimgray">
                    @item.IsResolved
                </td>
                <td style="background-color:dimgray">
                    @item.IsArchived
                </td>
                <td style="background-color:dimgray">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Dashboard", new { id = item.Id })

                </td>



            </tr>
        }
    </tbody>

</table>
}
@section scripts{

    <script>
        $('#table1').DataTable({ "scrollX": true });
        $('#table2').DataTable({ "scrollX": true });
        $('#table3').DataTable({ "scrollX": true });
    </script>
}
