@model IEnumerable<BugTracker.Models.ApplicationUser>

@{
    ViewBag.Title = "Index";
}
<br />
<br />

<h2 class="col-6 offset-5">Users</h2>
<br />
<br />

<div class="row">
    <div class="col-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                
                <div class="card-action">
                   
                </div>
            </div>
            <div class="card-body">

                <div class="chart-container-1">
                    <table id="table5" class="table table-bordered table-light col-12">
                        <thead>
                            <tr>

                                <th>
                                    @Html.DisplayName("Full Name")
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Email)
                                </th>
                                <th>
                                    @Html.DisplayName("Manage")
                                </th>
                            </tr>
                        </thead>


                        @foreach (var user in Model)
                        {
                            <tbody>
                                <tr>
                                    <td style="background-color:dimgray">
                                        @Html.DisplayFor(modelItem => user.FullName)
                                    </td>
                                    <td style="background-color:dimgray">
                                        @Html.DisplayFor(modelItem => user.Email)
                                    </td>
                                    <td style="background-color:dimgray">
                                        @Html.ActionLink("Manage Role", "ManageRoles", "Assignments") |
                                        @Html.ActionLink("Manage Projects", "ManageProjectUsers", "Assignments")
                                    </td>
                                </tr>
                            </tbody>
                        }

                    </table>
                    </div>
                
                </div>
            </div>
        </div>
    </div>



@section scripts{
  <script>
    $('#table5').DataTable();
  </script>
}

